<footer class="ft-bg">
    <div class="footer-one">
        <span class="logo">
          <img src="/image/logo.png" alt="" />
        </span>
        <ul>
            <li>Điện Thoại: <span>+123.456.789</span></li>
            <li>Email: <span>volunteerqt123@gamil.com</span></li>
            <li>Địa Chỉ: <span>Cần thơ</span></li>
        </ul>
    </div>
    <div class="footer-two">
        <span>Về Chúng Tôi</span>
        <ul>
            <li>Giới Thiệu</li>
            <li>Cơ Hội Việc Làm</li>
            <li>Lộ Trình Học</li>
        </ul>
    </div>
    <div class="footer-three">
        <span>Hỗ Trợ</span>
        <ul>
            <li>Liên Hệ</li>
            <li>Bảo Mật</li>
            <li>Điều khoản</li>
        </ul>
    </div>
</footer>